.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}
.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}
.content a:hover {
  color: #2ecc71;
}
/* pega primeiro elemento do post*/
.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}
.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}
.commentForm {
  width: 100%;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}
.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}
.commentForm textarea {
  width: 100%;
  height: 6rem;
  border: 0;
  resize: none;
  background: var(--gray-900);
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
  line-height: 1.4;
}
.commentForm footer {
  visibility: hidden;
  max-height: 0;
}
/* serve para que cada elemento que receber foco dentro do elemento
ira receber  uma estilizacao especial 
obs: no caso para botao aparecer depois de receber foco no textarea
*/
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}
.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  border: 0;
  background: var(--green-500);
  transition: background-color 0.1s;
}
.commentForm button[type=submit]:not(:disabled):hover {
  background: #2ecc71;
}
.commentForm button[type=submit]:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}
.commentList{
    margin-top: 2rem;
}